* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.card-lateral{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    margin-top: 20px;
    background-color: #002c2b;
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    box-shadow: 5px 5px 5px gray;
    border-radius: 6px;
    width: 100%;

}

.link-lateral:hover{
    text-decoration: none;
}

.titulo{

    color: #002c2b;

}

.btn-card {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: flex-end;
    bottom: 5px;
    margin-left: 7px;
    gap: 15px;
    z-index: 1;
}

.btn-edit {
    cursor: pointer;
}
.btn-edit:hover, .btn-delete:hover {
    border: 9px solid white;
    transition: all 1s;
}
.card-paciente{
    display: flex;
    flex-direction: column;
    min-width: 350px;
    background-color: white;
    box-shadow: 2px 4px 4px 2px gray;
    padding: 20px;
    color: black;

}
#btn-delete {
    cursor: pointer;
}

.link-hover:hover{
    text-decoration: none;
}

.foto-perfil{
    text-align: center;
}

.dados{
    font-weight: bold;
}

.descricao{

    margin-left: -12%;

}

@media (max-width: 767px) {
    .row {
        justify-content: start;
    }

    .container-patient {
        width: 100%;
    }
    .card-paciente {
        min-width: 250px;
        width: 90%;
        margin: 0 auto;
    }
    
}

@media (min-width: 767px) {
    .card-paciente {
        margin-left: 15px;
    }
}

@media (max-width: 1300px)
{

    .descricao{

        margin-left: 1px;
    
    }

}